modules = ["nodejs-24", "node", "python-3.11", "postgresql-16"]

[[artifacts]]
id = "artifacts/api-server"

[[artifacts]]
id = "artifacts/mockup-sandbox"

[deployment]
router = "application"
deploymentTarget = "autoscale"

[deployment.postBuild]
args = ["pnpm", "store", "prune"]
env = { "CI" = "true" }

[workflows]
runButton = "Project"

[[workflows.workflow]]
name = "artifacts/landing: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/landing"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/landing run dev"
cwd = "./artifacts/landing"
waitForPort = 18150
router = "path"

[workflows.workflow.tasks.env]
PORT = "18150"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/coach-dashboard: web"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/coach-dashboard"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/coach-dashboard run dev"
cwd = "./artifacts/coach-dashboard"
waitForPort = 23134
router = "path"

[workflows.workflow.tasks.env]
PORT = "23134"
BASE_PATH = "/coach-dashboard/"

[[workflows.workflow]]
name = "artifacts/athlete-app: expo"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "artifacts/athlete-app"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/athlete-app run dev"
cwd = "./artifacts/athlete-app"
waitForPort = 23899
ensurePreviewReachable = "/status"
router = "expo-domain"

[workflows.workflow.tasks.env]
PORT = "23899"
BASE_PATH = "/"

[[workflows.workflow]]
name = "artifacts/api-server: API Server"
author = "agent"
mode = "parallel"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "3B4_FFSkEVBkAeYMFRJ2e"

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/api-server run dev"
cwd = "./artifacts/api-server"
waitForPort = 8080

[workflows.workflow.tasks.env]
PORT = "8080"

[[workflows.workflow]]
name = "artifacts/mockup-sandbox: Component Preview Server"
author = "agent"
mode = "sequential"

[workflows.workflow.metadata]
outputType = "webview"
artifactId = "XegfDyZt7HqfW2Bb8Ghoy"
isCanvasWorkflow = true

[[workflows.workflow.tasks]]
task = "shell.exec"
args = "pnpm --filter @workspace/mockup-sandbox run dev"
cwd = "./artifacts/mockup-sandbox"
waitForPort = 8081

[workflows.workflow.tasks.env]
PORT = "8081"
BASE_PATH = "/__mockup"

[agent]
stack = "PNPM_WORKSPACE"
expertMode = true

[postMerge]
path = "scripts/post-merge.sh"
timeoutMs = 20000

[nix]
channel = "stable-25_05"
packages = ["chromium"]
